name: Build Plugin
on: [ push, pull_request ]
jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - name: git clone
        uses: actions/checkout@v3.5.2
      - name: Set up JDK
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: 17
      - name: gradle build
        id: gradle
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: build