name: Build Project
on:
  push:
    branches: [ main ]
  pull_request_target:
    branches: [ main ]
env:
  BUILD_CACHE_USER: ${{ secrets.BUILD_CACHE_USER }}
  BUILD_CACHE_PWD: ${{ secrets.BUILD_CACHE_PWD }}
jobs:
  gradle-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version-file: gradle/jdk-version.txt
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false
      - run: "./gradlew qualityCheck"
      - run: "./gradlew test"
      - run: "./gradlew testEndToEnd"
      - run: "./gradlew testEndToEndSlow"
      - run: "./gradlew build"
      - run: "./gradlew cyclonedxBom"
        if: ${{ !contains(github.ref_name, '/') }}
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: reports
          path: gradle/aggregation/build/reports

